extends ../layout 

block content
	h1 Users

	p
		a(href="/users/new") Create new profile

	- var test = {test: 123};
	p= test.test

	ul
		each user in users
			li 
				p= user
				<!--a(href="/users/" + encodeURIComponent(users[user].username)) users[user].name-->

	- if (page > 0) {
		a(href="?page=" + (page - 1)) Previous
		&nbsp;
	- }

	- if(!lastPage) {
	
		a(href="?page=" + (page + 1)) Next
	
	- }

